@model PaginatedItemsViewModel<CatalogItem>

@{
    ViewBag.Title = "Index";
}

<div class="esh-table">
    <p class="esh-link-wrapper">
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn esh-button esh-button-primary" })
    </p>

    @Html.Partial("CatalogTable", Model.Data)

    <div class="esh-pager">
        <div class="container">
            <article class="esh-pager-wrapper row">
                <nav>

                    @if (Model.PageIndex > 0)
                    {
                        @Html.ActionLink("Previous", "Index", new { pageSize = Model.PageSize, pageIndex = Model.PageIndex - 1 }, new { @class = "esh-pager-item esh-pager-item--navigable" })
                    }
                    else
                    {
                        @Html.ActionLink("Previous", "Index", new { pageSize = Model.PageSize, pageIndex = Model.PageIndex - 1 }, new { @class = "esh-pager-item esh-pager-item--navigable esh-pager-item--hidden" })
                    }

                    <span class="esh-pager-item">
                        Showing @Model.PageSize of @Model.Count products - Page @(Model.PageIndex + 1)
                    </span>

                    @if ((Model.PageIndex + 1) * Model.PageSize < Model.Count)
                    {
                        @Html.ActionLink("Next", "Index", new { pageSize = Model.PageSize, pageIndex = Model.PageIndex + 1 }, new { @class = "esh-pager-item esh-pager-item--navigable" })
                    }
                    else
                    {
                        @Html.ActionLink("Next", "Index", new { pageSize = Model.PageSize, pageIndex = Model.PageIndex + 1 }, new { @class = "esh-pager-item esh-pager-item--navigable esh-pager-item--hidden" })
                    }

            </nav>
        </article>
    </div>
</div>

</div>
